<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Fondamento" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<style type="text/css"></style>

</head>
<body>
  <%if(message){%>
  <p class="message"><%=message%></p>
  <script type="text/javascript">
    var message = document.querySelector('.message') ;
    setTimeout(function(){
      message.remove()
    },3000)
  </script>
  <%}%>
	<div class="tabs">
		<div class="tab create">CREATE</div>		
		<div class="tab browse">BROWSE</div>
    <div class="tab profiles">PROFILES</div>
	</div>

	<div class="dummy"></div>

	<div class="boards">
		
    <div class="board create-board">
			<div class="map" id='map1'>1</div>
		</div>

		<div class="browse-board board" >
			<div class="map" id="map2">2</div>
      <div class="nearbyList">

      </div>
      <div class="viewJournal">
        
      </div>
      <div class="dummy"></div>
		</div>

    <div class="profiles-board board">

      <div class="search">
        <p>Search usernames:
          <input type="text" name="search_username" class="search_username">
          <span class="submit_username_search">
            <img src="/images/glyphicons/png/glyphicons-28-search.png">  
          </span>

          <div class="suggestionBox">
            <ul>
            </ul>
          </div>
        </p>
      </div>
      <div class="profile">
        <h2>Hey <%= name %></h2>
        <%if(journals.length){%>
        <p>Following are your journals</p>
        <ul>
        <%for(var i=0;i< journals.length ;i++){%>  
          <li class="journal_header_profile" data="<%= journals[i]._id %>"><%= journals[i].header %></li>
        <%}%>
        </ul>
        <%}else{%>
        <p>Oops, you have no journals</p>
        <%}%>
      </div>
      <div class="journalSelected">
      </div>
      <div class="dummy"></div>
    </div>

	</div>

  <div class="addForm">
    <form action="/dashboard" autocomplete="false" method="post" enctype="multipart/form-data">
      <h2>Press <span class="esc">ESC</span> to close the screen</h2>
      <p>Add title</p>
      <input type="text" required name="title" class="textbox">
      <br>
      <p>Write the journal here</p>
      <textarea required class="journal" name="journal"></textarea>
      <br>
      <p>Type of the journal</p>
      <select name="type">
        <option value="public">PUBLIC</option>
        <option value="private">PRIVATE</option>
      </select>
      <p>Position you want to save(Automatically saved)</p>
      <input id="position" type="text" name="position" readonly>
      <br>
      <input class="fileInput" type="file" name="image" class="upload">
      <br>
      <p>List the links you want to save, 1 in each line</p>
      <br>
      <textarea class="links" name="links" style="resize: none; width: 40%; height: 10% ;"></textarea>
      <br>
      <input type="submit" class="save" name="submit">
    </form>
  </div>
  <span class="logout">
    <img src="/images/logout2.png">
  </span>

  <div class="sort_buttons" style="display: none ;">
    <p>SORT:</p>
    <button class="bytimestamp">By timestamp</button>
    <button class="bypopularity">By popularity</button>
  </div>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgSeojkToJ_M9K70mM-GkC-UijpHHjtQ&callback=initMap">
    </script>

    <script defer>
    var position = document.getElementById('position')
    var marker= null ;
    function initMap() {
        var trichy = {lat: 10.75, lng: 78.19};
        var map1 = new google.maps.Map(document.getElementById('map1'), {
          zoom: 4,
          center: trichy
        });
        map1.addListener('click', function(e){
          if(marker){
            marker.setMap(null)
          }
        	marker = new google.maps.Marker({
        		position: {lat:e.latLng.lat(), lng:e.latLng.lng()},
        		map:map1,
            draggable:true
        	})
          marker.addListener('click',function(){
            showForm();
          })
          position.value = marker.getPosition().lat()+'-' +marker.getPosition().lng() ;
          })
	   }


    </script>

  <script type="text/javascript" src="/javascripts/jscookie.js"></script>
  <script type="text/javascript" src="/javascripts/script.js"></script>

</body>
</html>


<!--
<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    
  </body>
</html> -->
