<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<style type="text/css">
		body{
			margin:30px auto;
			text-align: center ;
			background-color: cyan ;
		}
		 h1{
			font-size: 26px ;
		}
		p{
			font-size: 20px;
		}
		img{
			margin-top:30px ;
			border-radius: 8px ;
		}
	</style>
</head>
<body>
	<% include header.ejs %>
	<h2>Sorry, we couln't load this for you</h2>
	<p><%= message %></p>
	<img src="/images/error.jpg">
	<script type="text/javascript">
	</script>
</body>
</html>