*{
	transition-duration: 0.5s ;
}
body{    

    font-family: 'Shadows Into Light', Monospace;

	margin:30px auto;
	text-align: center ;
	background-image: url('/images/bg1.jpeg');
	background-size: 100% 800px ;
	background-attachment: fixed; 
}
form{
	margin-top: 30px ;
	padding: 30px ;
}
input, select{
	margin:20px;
}
.notification{
	border-radius: 10px ;
	padding:20px ;
	background-color: yellow ;
	color: red ;
	font-size: 20px ;
}p{
	padding: 10px ;
	font-size: 18px;
	color: rgb(155,55,102); ;
}
.btn{
	text-decoration: none ;
}
.tab{
	font-size: 20px ;
	color: cyan ;
	width: 10% ;
	background-color: grey ;
	padding: 20px ;
	float: left;
	margin-left: 10% ;
	border-radius: 10% ;
}
.tab:hover{
	cursor: pointer; 
}
.create{
	margin-left: 35% ;
}
.dummy{
	clear: both ;
}
.browse-board{
	display: none ;
}
.create-board{

	display: block; 
}
.board{
	margin-top: 30px ;
	width: 60%;
	margin-left: 20% ;
}
.map{
	width: 100% ;
	height: 400px ;
}
.addForm{
	display: none; 
	margin-top:-50px;
	width: 100% ;
	text-align: center;
	position: absolute;
	background-color: center;
	position: absolute ;
	top:50px;
	background-color: rgba(66, 244, 140, 0.9);
}
textarea{
	width: 50% ;
	height: 500px ;
	resize: none;
	padding: 20px ;
}
.textbox{
	margin:20px;
	border-radius: 3px ;
	border:none;
	font-size: 18px ;
	width:25%;
}
.message{
	font-size: 20px ;
	border-radius: 10px ;
	margin-left: 25% ;
	width: 50% ;
	padding: 20px ;
	margin-top:20px ;
	color: cyan ;
	background-color: grey ;
}
.esc{
	color: cyan ;
	background-color: grey ;
	padding: 10px ;
	border-radius: 8px ;
}
.nearbyList{
	float: left;
	width: 25% ;
	height: 200px ;
	margin-left: 5% ;
}
.viewJournal{
	float: left;
	width: 65% ;
	text-align: left; 
	padding:10px ;
	margin-left: 5% ;
}

.viewJournal pre{
	background: none ;
	font-family: 'Fondamento', cursive;
	/*color: #e06726 ;*/
	color:cyan;
	font-size: 20px ;
	white-space: pre-wrap; 
	background-color: rgba(128,128,128,0.7)
}
.nearbyList pre{
	background: none;
	font-family: 'Fondamento', cursive;
	white-space: pre-wrap; 

}
h2{
	color: red ;
	text-align: center; 
}
.nearbyJournal{
	margin-top: 20px ;
	background-color: yellow ;
	border: 1px solid grey;
	border-radius: 5px ;
}
.nearbyJournal:hover{
	cursor: pointer;
}